.list {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: 0.3s;
    border: 1px dashed black;

    &:hover {
      transform: translate(5px, 5px);
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__button {
    max-height: 40px;
    min-height: 30px;
  }

  &__delete {
    &:checked {
      display: none;
    }
  }
}
